@font-face {
  font-family: "inter";
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "inter";
  src: url(../fonts/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Jakarta";
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Jakarta";
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
}

